h1 {
   color: brown;
   font-size: 25px ;
   font-family: fantasy;
}
body{
   background-color:rgb(205, 176, 140);
}
h2{
   color: indianred;
   font-size: 18px;
}
p{
   color: rgb(62, 34, 109);
   font-size: 16px ;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
button{
   color: rgb(63, 10, 28);
}